<header
  class="px-4 sm:px-6 md:px-12  py-2 w-full gap-4 flex-row flex justify-between items-center"
>
  <div
    class="bg-gray-light rounded-md flex flex-row items-center gap-2 flex-grow"
  >
    <fa-icon class="text-gray-dark pl-2" [icon]="'search'"></fa-icon>
    <input
      type="text"
      class="p-2 rounded-md bg-gray-light focus:outline-none flex-grow"
      placeholder="Search..."
    />
  </div>

  <div class="hidden md:flex items-center gap-1 ml-auto">
    <div
      class="flex rounded-md bg-gray-light items-center relative"
    >
      <select
        [value]="currentLang"
        class="p-2 pr-8 focus:outline-none cursor-pointer custom-select rounded-md appearance-none"
      >
        <option value="en">ENG</option>
        <option value="fr">FR</option>
      </select>
      <fa-icon
        class="text-gray-dark pr-2 chevron"
        [icon]="'chevron-down'"
      ></fa-icon>
    </div>
    <div class="header-icon cursor-pointer">
      <fa-icon [icon]="'comment'"></fa-icon>
    </div>
    <div class="header-icon cursor-pointer">
      <fa-icon [icon]="'bell'"></fa-icon>
    </div>
    <div class="flex flex-row items-center">
      <div class="header-icon cursor-pointer">
        <fa-icon [icon]="'user'"></fa-icon>
      </div>
      <div>Jeevith Ramesh</div>
    </div>
  </div>
</header>
