<header
  class="px-6 py-2 w-full gap-4 flex-row flex justify-between items-center"
>
  <div
    class="bg-gray-light rounded-lg flex flex-row items-center gap-2 flex-grow"
  >
    <fa-icon class="text-gray-dark pl-2" [icon]="'search'"></fa-icon>
    <input
      type="text"
      class="p-2 rounded-lg bg-gray-light focus:outline-none flex-grow"
      placeholder="Search..."
    />
  </div>

  <div class="display-none md:flex items-center gap-1 ml-auto">
    <div class="flex flex-row rounded-lg border-2 z-1000">
      <select
        #selectLang
        [value]="currentLang"
        class="p-2 focus:outline-none rounded-lg appearance-none"
      >
        <option value="en">ENG</option>
        <option value="fr">FR</option>
      </select>
      <div class="flex items-center px-2 medium-text">
        <fa-icon [icon]="'chevron-down'"></fa-icon>
      </div>
    </div>
    <div class="header-icon cursor-pointer">
      <fa-icon [icon]="'comment'"></fa-icon>
    </div>
    <div class="header-icon cursor-pointer">
      <fa-icon [icon]="'bell'"></fa-icon>
    </div>
    <div class="flex flex-row items-center">
      <div class="header-icon cursor-pointer">
        <fa-icon [icon]="'user'"></fa-icon>
      </div>
      <div>Jeevith Ramesh</div>
    </div>
  </div>
</header>
