<div class="p-8 bg-white rounded-sm">
  <div class="text-xl font-semibold mb-2 text-gray-darker">
    New User Registrations
  </div>
  <div class="table-container overflow-auto">
    <table class="min-w-full overflow-hidden border-gray-300">
      <tbody>
        <tr *ngFor="let user of newUsers" class="border-t">
          <td class="p-2">
            <div class="w-10 h-10 overflow-hidden relative">
              <img
                [src]="user.picture"
                alt="{{ user.name }}"
                class="w-full h-full rounded-full object-contain"
              />
              <div class="online"></div>
            </div>
          </td>
          <td class="p-2">
            <div class="font-semibold text-gray-darker">{{ user.name }}</div>
            <div class="text-gray-dark text-xs">{{ user.country }}</div>
          </td>
          <td class="p-2 progress-min-width w-36">
            <div class="flex items-center flex-row gap-2 rounded-full h-2">
              <div
                class="rounded-full h-1"
                [ngClass]="getProgressBarClass(user.progress)"
                [ngStyle]="{ width: user.progress + '%' }"
              ></div>
              <div
                [ngClass]="getProgressTextClass(user.progress)"
                class="text-xs font-semibold"
              >
                {{ user.progress }}%
              </div>
            </div>
          </td>
          <td class="p-2">
            <button class="more-btn px-3 py-1 rounded-sm">More</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
