@import "src/variables.scss";

.progress-bar-high {
  background-color: $color-info;
}

.progress-bar-medium {
  background-color: $color-warning;
}

.progress-bar-low {
  background-color: $color-danger;
}

.progress-text-high {
  color: $color-info;
}

.progress-text-medium {
  color: $color-warning;
}

.progress-text-low {
  color: $color-danger;
}

.progress-min-width {
  min-width: 100px;
}


