.top-card {
  transition: all 0.3s;
  .value-text {
    font-size: xx-large;
  }
  .value-icon {
    font-size: xx-large;
  }

  .header-text {
    font-size: medium;
  }

  .sub-header-text {
    font-size: small;
  }

  &:hover * {
    color: white !important;
  }
}
