/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.scss";
body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-icon {
  min-width: 64px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;

  &.side-nav-icon {
    color: $dark-grey;
  }
}

.menu-item {
  &:hover * {
    color: $medium-blue !important;
  }
}

.header-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  color: $dark-grey;
}

.table-container {
  height: 320px;
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $medium-grey;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-grey;
}

.text-gray-light {
  color: $light-grey;
}

.text-gray-medium {
  color: $medium-grey;
}

.text-gray-dark {
  color: $dark-grey;
}

.text-gray-darker {
  color: $darker-grey;
}

.text-blue-light {
  color: $light-blue;
}

.text-blue-medium {
  color: $medium-blue;
}

.text-blue-dark {
  color: $dark-blue;
}

.text-blue-darker {
  color: $darker-blue;
}

.bg-gray-light {
  background-color: $light-grey;
}

.bg-gray-medium {
  background-color: $medium-grey;
}

.bg-gray-dark {
  background-color: $dark-grey;
}

.bg-gray-darker {
  background-color: $darker-grey;
}

.bg-blue-light {
  background-color: $light-blue;
}

.bg-blue-medium {
  background-color: $medium-blue;
}

.bg-blue-dark {
  background-color: $dark-blue;
}

.bg-blue-darker {
  background-color: $darker-blue;
}

.online {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: $color-success;
}
