$light-blue: #64b2e6;
$medium-blue: #2b6ec5;
$dark-blue: #1d56ab;
$darker-blue: #0e3d6e;
$light-grey: #f0f0f0;
$medium-grey: #c0c0c0;
$dark-grey: #808080;
$darker-grey: #404040;
$color-success: #00a65a;
$color-info: $medium-blue;
$color-warning: #f39c12;
$color-danger: #dd4b39;
